name: reviewdog
on: 
  push:
    branches:
      - 'summary/**'
    branches-ignore:
      - main
  pull_request:
    branches:
      - 'summary/**'

jobs:
  markdownlint:
    name: runner / markdownlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: markdownlint
        uses: reviewdog/action-markdownlint@v0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
